<h1>Hello World!</h1>

<% if not @user.errors.empty? %>
  <%= @user.errors.full_messages %>
<% else %>
  não tem erro
<% end %>

<%= form_for(@user) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Criar" %>

<% end %>